@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value)
}

$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(150);
$shadows-big: multiple-box-shadow(75);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a,
button {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #FFF;
}

// .anchor{
//   display: block;
//   z-index: -5;
//   padding-top: 115px;
//   visibility: hidden;
// }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 10vh;
  z-index: 3;
  transition: background-color .5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-scrolled {
  background-color: rgba(9, 10, 15, 0.8);
  transition: background-color .5s ease;
}

.nav-scrolled .name {
  transition: color .5s;
  color: #fd5d5d;
}

.nav-scrolled::before {
  transition: backdrop-filter .5s ease;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.name {
  transition: color .5s ease;
  color: #FFF;
  font-family: 'Montserrat', cursive;
  font-size: 20px;
}

.name h1 {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  font-size: 16px;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a:hover {
  transition: color 0.3s ease;
  color: #fd5d5d;
}

.active {
  transition: color 0.3s ease;
  color: #fd5d5d !important;
}

html {
  scroll-behavior: smooth;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, rgb(9, 10, 15) 100%);
}

#home {
  height: 100vh;
  overflow: hidden;
}

#home-content {
  font-family: 'Montserrat', cursive;
  position: absolute;
  color: #FFF;
  width: 940px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contentwrapper {
  display: inherit;
}

#home-content::before {
  display: block;
  content: "";
  visibility: hidden;
  height: 0px;
  position: absolute;
  top: 48%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  border-right: 2px solid #fff;
  animation: border-anim 1s ease 4.3s;
  animation-fill-mode: forwards;
}

#home-content::after {
  display: block;
  visibility: hidden;
  content: "";
  height: 0px;
  position: absolute;
  top: 52%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  border-left: 2px solid #fd5d5d;
  animation: border-anim 1s ease 4.7s;
  animation-fill-mode: forwards;
}

#contentleft {
  position: relative;
  padding: 0;
  margin-right: 15px;
  font-size: 36px;
  vertical-align: middle;
  width: 50%;
  text-align: right;
}

// #contentleft::before {
//   display: block;
//   content: "";
//   visibility: hidden;
//   height: 156px;
//   position: absolute;
//   top: -20px;
//   right: -10px;
//   border-right: 1px solid #fff;
//   animation: border-anim 1.5s ease 4.7s;
//   animation-fill-mode: forwards;
// }

#contentright {
  position: relative;
  margin-left: 15px;
  font-size: 18px;
  line-height: 26px;
  vertical-align: middle;
  width: 50%;
  text-align: left;
}

// #contentright::before {
//   display: block;
//   visibility: hidden;
//   content: "";
//   height: 156px;
//   position: absolute;
//   bottom: -15px;
//   left: -10px;
//   border-left: 1px solid #fd5d5d;
//   animation: border-anim 1.5s ease 5.4s;
//   animation-fill-mode: forwards;
// }

#group path {
  stroke: #fd5d5d;
}

#group path:nth-child(10) {
  stroke-dasharray: 96.36942291259766px;
  stroke-dashoffset: 96.36942291259766px;
  animation: line-anim 2s ease forwards;
}

#group path:nth-child(9) {
  stroke-dasharray: 140.0428466796875px;
  stroke-dashoffset: 140.0428466796875px;
  animation: line-anim 2s ease forwards 0.3s;
}

#group path:nth-child(8) {
  stroke-dasharray: 145.52972412109375px;
  stroke-dashoffset: 145.52972412109375px;
  animation: line-anim 2s ease forwards 0.6s;
}

#group path:nth-child(7) {
  stroke-dasharray: 145.52972412109375px;
  stroke-dashoffset: 145.52972412109375px;
  animation: line-anim 2s ease forwards 0.9s;
}

#group path:nth-child(6) {
  stroke-dasharray: 98.8848876953125px;
  stroke-dashoffset: 98.8848876953125px;
  animation: line-anim 2s ease forwards 1.2s;
}

#group path:nth-child(5) {
  stroke-dasharray: 173.16226196289062px;
  stroke-dashoffset: 173.16226196289062px;
  animation: line-anim 2s ease forwards 1.5s;
}

#group path:nth-child(4) {
  stroke-dasharray: 140.0381317138672px;
  stroke-dashoffset: 140.0381317138672px;
  animation: line-anim 2s ease forwards 1.8s;
}

#group path:nth-child(3) {
  stroke-dasharray: 145.5377197265625px;
  stroke-dashoffset: 145.5377197265625px;
  animation: line-anim 2s ease forwards 2.1s;
}

#group path:nth-child(2) {
  stroke-dasharray: 93.16800689697266px;
  stroke-dashoffset: 93.16800689697266px;
  animation: line-anim 2s ease forwards 2.4s;
}

#group path:nth-child(1) {
  stroke-dasharray: 98.88485717773438px;
  stroke-dashoffset: 98.88485717773438px;
  animation: line-anim 2s ease forwards 2.7s;
}

@keyframes border-anim {
  to {
    visibility: visible;
    height: 156px;
  }
}

@keyframes border-anim-width {
  to {
    visibility: visible;
    width: 420px;
  }
}

@keyframes small-border {
  to {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes border-anim-small {
  to {
    visibility: visible;
    width: 240px;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

#projects {
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid #fd5d5d;
  height: 950px;
  width: 100%;
}

#project-info {
  visibility: hidden;
}

// #projects::after {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   content: '';
//   background-color: #FFF;
//   z-index: -1;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border-top: 2px solid #fd5d5d;
//   transform-origin: bottom right;
//   transform: skewY(4deg);
// }

.project-main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-main h1 {
  padding-bottom: 20px;
}

.project-main h1::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 80px;
  border-top: 1px solid #000;
}

.project-container {
  width: 960px;
  top: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-container::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 50%;
  height: 1200px;
  width: 1200px;
  transform: translate(50%, -50%) rotate(45deg);
  background-color: rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.project-container .box {
  position: relative;
  width: 300px;
  height: 300px;
  background: #ff0;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.imgBox {
  position: relative;
  overflow: hidden;
}

.imgBox img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  transition: transform 2s;
}

.details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, .8);
  transform: scaleY(0);
  transition: transform .5s;
}

@media screen and (min-width: 769px)
{
  .box:hover img {
    transform: scale(1.2);
  }

  .box:hover .details {
    transform: scaleY(1);
  }
}

.details-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}

.details-content h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fd5d5d;
}

.details-content p {
  margin: 10px 0 0;
  padding: 0;
}

.button {
  transition: all .3s ease;
  background-color: #FFF;
  color: black;
  border-radius: 10px;
  display: inline-block;
  border: none;
  width: 110px;
  padding: 15px 0px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: #fd5d5d;
  color: #FFF;
}

/* End Projects */

/* Contact */

#contact {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-color: #292a2c;
  border-top: 2px solid #fd5d5d;
  width: 100%;
  height: 775px;
}

.contact-main {
  text-align: center;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-main h1 {
  margin-bottom: 40px;
  color: #acb0b3;
}

.contact-main h1::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 80px;
  border-top: 1px solid #acb0b3;
}

.contact-container {
  width: 100%;
  margin: auto;
}

input[type=text],
input[type=email],
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  color: #acb0b3;
  resize: vertical;
}

textarea {
  min-height: 100px;
  max-height: 350px;
}

input[type=submit] {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: background-color .5s ease;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fd5d5d;
}

/* Contact Button Styles */
button {
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

button:hover,
button:focus {
  background-color: rgba(253, 93, 93, 1);
}

button>* {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

button .front {
  font-weight: bold;
  color: #acb0b3;
}

button:enabled:hover .back,
button:focus .back {
  transform: translate(-50%, -50%);
}

button:enabled:hover .front,
button:focus .front {
  color: #FFF;
  transform: translateX(200%);
}

/* End Contact */

/* Gif Project */
.projectContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, .8);
}

.project img {
  width: 900px;
}

/* End Gif Project */

/* Footer */

footer {
  background-color: inherit;
  position: relative;
  width: 100%;
  height: 76px;
  border-top: 2px solid #fd5d5d;
  overflow: hidden;
}

.footer-container {
  display: flex;
  height: inherit;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 10%;
}

.copyright {
  color: rgba(255, 255, 255, 0.3);
  margin-right: auto;
}

.socials a {
  margin: 0px 20px;
  color: rgba(255, 255, 255, 0.3);
}

.socials a:hover {
  color: #fd5d5d;
}

.socials a i {
  transition: all 0.3s ease;
}

.top {
  margin-left: 20px;
  transform: rotate(90deg);
}

.top a i {
  transition: color 0.3s ease;
  line-height: 26px;
  font-size: 24px;
}

.top a:hover {
  color: #fd5d5d;
}

/* End Footer */

p {
  color: #FFF;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;
}

#stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;
}

#stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 200s linear infinite;
}

#stars3::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

// TODO: Prevent the line animations from firing again when the page is resized
@media screen and (max-width: 998px) {

  /* Home Styles */
  #home-content {
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  #contentwrapper {
    position: absolute;
    width: 490px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #contentleft {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
  }

  #contentright {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 20px 0 0 0;
  }

  #home-content::before {
    display: block;
    content: "";
    visibility: hidden;
    height: 20px;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    border: none;
    border-bottom: 2px solid #fff;
    animation: border-anim-width 1s ease 4.7s;
    animation-fill-mode: forwards;
  }

  #home-content::after {
    display: block;
    visibility: hidden;
    content: "";
    height: 20px;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    border: none;
    border-top: 2px solid #fd5d5d;
    animation: border-anim-width 1s ease 4.3s;
    animation-fill-mode: forwards;
  }

  /* End Home */

  /* Project Styles */
  #projects {
    height: 1270px;
  }

  .project-container {
    width: 640px;
  }

  .project img {
    width: 720px;
  }

  /* End Project */
}

@media screen and (max-width: 768px) {

  /* Home Styles */
  #home-content {
    text-align: center;
    display: block;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  #contentwrapper {
    position: absolute;
    width: 300px;
  }

  #contentleft {
    font-size: 24px;
  }

  #contentright {
    font-size: 18px;
  }

  #home-content::before {
    display: none;
  }

  #contentleft::before {
    visibility: hidden;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 25px;
    bottom: -15px;
    z-index: -1;
    border-bottom: 2px solid #fd5d5d;
    transform: translateX(-200%);
    animation: small-border 1s ease 4.3s;
    animation-fill-mode: forwards;
  }

  #contentright::before {
    visibility: hidden;
    content: "";
    position: absolute;
    top: -15px;
    left: 25px;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-top: 2px solid #FFF;
    transform: translateX(200%);
    animation: small-border 1s ease 4.6s;
    animation-fill-mode: forwards;
  }

  #home-content::after {
    display: none;
  }

  /* End Home */

  /* Project Styles */
  #projects {
    height: 2200px;
  }

  .project-container {
    width: 320px;
  }

  .project-container::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 50%;
    height: 1600px;
    width: 1600px;
    transform: rotate(67.5deg) skewX(45deg) scaleY(cos(45deg));
    background-color: rgba(0, 0, 0, 0.05);
    z-index: -1;
  }

  #project-info {
    visibility: visible;
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 10px;
    color: white;
    opacity: 0.5;
    transition: opacity .3s ease;
  }

  .boxclicked img {
    transform: scale(1.2);
  }

  .boxclicked .details {
    transform: scaleY(1);
  }

  .boxclicked #project-info {
    opacity: 0;
  }
  
  .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
  }

  .project img {
    width: 100%;
  }

  /* End Project */

  /* Nav Styles */
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0px;
    background: rgba(9, 10, 15, 0.8);
    ;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-links::before {
    transition: backdrop-filter .3s ease;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  .nav-links-wrapper {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

  }

  .nav-links li {
    margin: 30% 0;
    opacity: 0;
    transform: translateX(50px);
  }

  // .linkopacity {
  //   opacity: 0;
  // }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links.open {
    transform: translateX(0%);
  }

  .nav-links li a {
    font-size: 25px;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes navLinkLeave {
    from {
      opacity: 1;
      transform: translateX(0px);
    }

    to {
      opacity: 0;
      transform: translateX(50px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}